@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/* Firefox */
* {
  scrollbar-width:auto;
  scrollbar-color: #585858 transparent;
}
